{% include 'header.html.twig' %}
{% block body %}
    <body class="home">

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Vous êtes à la recherche d'une location ? </h1><br>
            <form  class="form-group">
                <input class="col-md-8 offset-2 form-control" type="search">
                <p class="form-group"><br>
                    <a href="/map" class="btn btn-lg btn-success">Trouver</a>
                </p>
            </form>
        </div>

    </main>

    </body>

{% endblock %}